$primary: rgb(51, 3, 5);
$secondary: rgb(26, 26, 26);
$white: rgb(255, 255, 255);
$yellow: rgb(174, 166, 104);
$orange: rgb(86, 61, 20);

$font-family-sans-serif: "roboto-slab", serif; //200, 300, 400, 700
$font-family-base: $font-family-sans-serif !default;

$link-color: $secondary;

// navbar
$navbar-nav-link-padding-x: 30px;